/lesson_1/lesson1_examples_utf8.sh
/lesson_1/webinar_95317904945_0.mp4
/lesson_1/ИК Базы данных. Урок 1. Презентация..pptx
/lesson_1/Инструкция по сдаче практических заданий через Git.pdf
/lesson_1/Методичка 1. Быстрый старт.pdf
/lesson_1/Требования к курсовому проекту.pdf
/lesson_1/Установка программного обеспечения.pdf
/lesson_2/source01.zip
/lesson_2/source02.zip
/lesson_2/ИК Базы данных. Урок 1. Презентация..pptx
/lesson_2/ИК Базы данных. Урок 2. Презентация..pptx
/lesson_2/Урок 2. Язык запросов SQL.pdf
/lesson_3/lesson3_examples_utf8.sql
/lesson_3/webinar_98648492911_0.mp4
/lesson_3/Методичка 3. Базы данных. Базовый курс. Проектирование реляционной базы данных.docx
/lesson_3/Презентация 3. Базы данных. Базовый курс. Проектирование реляционной базы данных.odp
/lesson_4/fulldb28-04-2021 12-54.sql
/lesson_4/lesson4_examples_utf8.sql
/lesson_4/webinar_92512642563_0.mp4
/lesson_5/source03.zip
/lesson_5/source04.zip
/lesson_5/ИК Базы данных. Урок 3. Презентация..pptx
/lesson_5/ИК Базы данных. Урок 4. Презентация..pptx
/lesson_5/Струкутры для выполнения ДЗ utf8.sql
/lesson_5/Урок 3. Методичка.pdf
/lesson_5/Урок 4. Методичка.pdf
